@model SurveyWebApplication.Models.Survey

@{
    ViewData["Title"] = "Anket Detayları";
}

<h1>Anket Detayları</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Header)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfYes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfYes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfNo)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div>
        <input type="text" name="Details" />
    </div>
    <p> </p>
    <div>
        <input class="btn btn-success" type="submit" value="Katılıyorum" asp-route-id="@Model.Id" asp-route-yesNo="0" />
        <input class="btn btn-danger" type="submit" value="Katılmıyorum" asp-route-id="@Model.Id" asp-route-yesNo="1" />
    </div>
}
