@model SurveyWebApplication.Models.Survey

@{
    ViewData["Title"] = "Anketi Sil";
}

<h1>Anketi Sil</h1>

<h3>@Html.DisplayFor(model => model.Header) anketini silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfApprovingRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfApprovingRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfYes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfYes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
