@model SurveyWebApplication.Models.Survey

@{
    ViewData["Title"] = "Anket Detayları";
}

<h1>Anket Detayları</h1>

<div>
    <h4> @Html.DisplayFor(model => model.Header)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfApprovingRequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfApprovingRequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfYes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfYes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.Comments)
            {
                <li>@item.CommentString</li>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Anket Sayfasına Dön</a>
</div>
